*{margin: 0;
padding: 0;
font-family: "微软雅黑"}

ul{list-style: none;}

@media screen and (max-width: 980px) {

	.container{
		width: 94%;
	}
	#content{
		width: 65%;
	}
	#sidebar{
		width: 30%;
	}

}



.clearfloat::after{
	content:"";
	display: block;
	clear: both;
	visibility: hidden;
	height:0;
}
.container{

	width:1100px;
	margin:0 auto;
}
.header{

	width: 100%;
	
	background: url("../image/header-bg.png") no-repeat;
	background-size:100%;
	
}
.header img{
	
	float:left;
	padding: 16px 0;
	
}

.header ul{

	margin-left:26px;
	float:left;
	padding: 20px 0;
}

.header li{

	float:left;
	color:#fff;
	font-size: 14px;
	margin-right:15px;

}
.header a{
	display: inline-block;
	text-decoration:none;
	float:right;
	font-size: 14px;
	color:#fff;
	margin: 10px 0;
	padding: 4px 15px;
	border: #606161	 solid 1px;
	
	background-color:black;
}
.header a:first-of-type{

	border-radius: 0 10px 10px 0;
}
.header a:last-child{

	border-radius:  10px 0 0 10px ;
}
.main{
	position: relative;
}

.main-id{

	border:#d2d2d2 solid 1px;
	margin-top: 45px;
	
	
}
.main-headimage{
	padding: 16px 30px;
	font-size: 14px;
	
	float:left;

}

.main-headimage img{
	display: block;
	border-radius: 50%;
	margin-bottom: 4px;
}

.main-headimage a{

	display: inline-block;
}
.main-information{
	float: left;
	
}
.main-id ul{
	
	margin-left:24px;
	margin-top: 60px;

}
.main-id li{
	float:left;
	color: #f39c11;
	padding: 0px 28px;
	border-right: #d2d2d2 solid 1px;
	
}

.main-id li span{
	display: block;
	color:#000;
}
.main-id li:last-child{
	
	border-right:0px;
	color: #f39c11;
}

.main-information p{
	display: inline-block;
	margin-left:52px;
	margin-top: 28px;
}

.main-information a:first-of-type{
	
	position:absolute;
	right:10%;
	top:10%;
	margin-left:20px;
	width:50px;
	padding:4px 14px 4px 38px;
	color:#fff;
	background:#f39c11 url("../image/main-information-bg1.png") no-repeat 10% 40%;;
	text-decoration:none;

}
.main-information a:nth-of-type(2){
	
	position:absolute;
	right:20%;
	top:10%;
	margin-left:20px;
	width:50px;
	padding:4px 14px 4px 38px;
	color:#fff;
	background:#f39c11 url("../image/main-information-bg2.png") no-repeat 10% 40%;;
	text-decoration:none;

}



.wrap{

	border-right:#d2d2d2 solid 1px;
	border-left:#d2d2d2 solid 1px;
}
.main-sidebar{

float:left;

}
.main-sidebar ul{
	
	
}

.main-sidebar li{
	
	padding:12px 100px 8px 16px;
}
.main-sidebar li:hover{
	background:url("../image/sidebar-hoverbg.png");

}


.main-content{
	float:left;
	border-left: #d2d2d2 solid 1px;
	width:915px;
	
}

.main-content-nav {

	border-bottom: #d2d2d2 solid 1px;
	width:100%;
	padding: 4px 0px;
}
.main-content-nav li{
	padding: 8px 10px 5px 10px;
	float:left;
	margin-left: 30px;
}
.main-content-nav li:hover{
	background: #f39c11;
	color:#fff;
}
.content-text{
margin-left: 30px;
margin-right: 30px;
margin-top:20px; 
padding-bottom: 20px;
border-bottom: #d2d2d2 solid 1px;
}
.content-text img{
	float:left;
}
.text{
	float:left;
	margin-left: 10px;
}

.content-text h3{
	margin:10px 0 0 10px ;
}
.content-text h3 span{
	padding:1px 15px 1px 4px ;
	margin-right:10px;
	color:#FFF;
	font-size: 12px;
	background: url("../image/main-text-head.png") no-repeat;
}
.content-text ul{
	margin:10px 0 0 10px ;
}
.content-text li{
	float:left;
	margin-right: 20px;
	padding-left: 20px;
}
.content-text li:nth-child(1){
	background: url("../image/main-text-social-1.png") no-repeat 5% 50%;
}
.content-text li:nth-child(2){
	background: url("../image/main-text-social-2.png") no-repeat 5% 50%;
}
.content-text li:nth-child(3){
	background: url("../image/main-text-social-3.png") no-repeat 5% 50%;
}
.content-text li:nth-child(4){
	background: url("../image/main-text-social-4.png") no-repeat 5% 50%;
}
.content-text p{
	float: left;
	width:600px;
	margin:10px 0 0 10px ;
}

.footer{
	width:100%;
	background: #222222;
	font-size: 10px;
	clear:both;

}
.footer ul{
	
	color:#b8b9ba;
	float:left;

}
.footer li{
	
	margin-right:60px;
	margin-bottom:2px;

}
.footer li:first-child{
	
	margin:30px 0;
	
}
.footer-u1 li:last-child{
	width:320px;
	margin-right:80px;
	line-height: 14px;
	
}

.footer input:first-of-type{

	background: #2a2a2a;
	border:#888888 solid 1px;
	color:#fff;
	height:24px;
}
.footer input:last-of-type{

	background:#ec6941;
	border:#888888 solid 1px;
	color:#bebfc0;
	padding: 4px 8px;
}



.footer-social li{
	height:20px;
	width:30px;
	float:left;
}
.footer-social li:nth-child(1){
	
	margin:12px 10px 2px 0px;
	background: url("../image/footer-wechat.png") no-repeat;
}
.footer-social li:nth-child(2){
	
	margin:12px 10px 2px 0px;
	background: url("../image/footer-weibo.png") no-repeat;
}
.footer-social li:nth-child(3){
	
	margin:12px 10px 2px 0px;
	background: url("../image/footer-tweibo.png") no-repeat;
}
.footer-social li:nth-child(4){
	
	margin:12px 10px 2px 0px;
	background: url("../image/footer-douban.png") no-repeat;
}
.footer-social li:nth-child(5){
	
	margin:12px 20px 2px 0px;
	background: url("../image/footer-renren.png") no-repeat;
}

.footer-finally{

	text-align: center;
	width:1100px;
	margin:20px auto;
	border-top:#b8b9ba solid 1px;
	color:#b8b9ba;
	line-height:5em;
}

.footer span{
	color:#ec6941;
}
